@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="text-left">
        <p>
            此專案串接 Line Bot Message API 來達到從 Line 以訊息控制 LED 燈的效果，
            再開放API，讓同學串接Python來取得LED燈狀態以更新LED燈的狀態。
        </p>
        <p>此專案使用架構如下：</p>
        <ul>
            <li>C#語言</li>
            <li>ASP.Net 5</li>
            <li>MVC</li>
            <li>MySql</li>
        </ul>
        <p>若要部屬本專案，必須要有公開IP，伺服器需要有SSL或TLS憑證(Line要求的)</p>
        <br />
        <a href="https://github.com/aron-666/SimpleLineBot">專案Github網址</a>
        <br />
        <br />
        <a href="@ViewBag.PathRoot/swagger/index.html">API文件網址</a>
    </div>
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
